<section class='section'>
  <h1 class='title'> <%= @artist.getName %> </h1>
  <p class='subtitle'> <%= @artist.dates %> </p>

  <table class='table'>
    <thead>
      <th>Image</th>
      <th>Piece Info</th>
      <th>Inventory No.</th>
      <th>Type</th>
      <th>Category</th>
      <% if current_user.admin? %>
        <th>Retail Value</th>
      <% end %>
      <th>Framed</th>
      <% if current_user.admin? %>
        <th>Available</th>
        <th>Location</th>
      <% end %>
    </thead>

    <% @works.each do |work| %>
    <tbody>
      <td><%= link_to(image_tag(work.getImageUrl, alt: work.title), work) %></td>
      <td><%= work.getArtist %><br/><%= simple_format(work.getDisplayInfo) %></td>
      <td><%= work.inventory_number %></td>
      <td><%= work.art_type %></td>
      <td><%= work.getCategory %></td>
      <% if current_user.admin? %>
        <td><%= work.getRetailValue %></td>
      <% end %>
      <td><%= work.getFrame %></td>
      <% if current_user.admin? %>
        <td><%= simple_format(work.getAvailability) %> </td>
        <td><%= simple_format(work.getLocation) %> </td>
      <% end %>
    </tbody>
    <% end %>
  </table>
</section>