<h1> <%= @artist.getName %> </h1>
<p> <%= @artist.dates %> </p>
<p> <%= @artist.category %> </p>

<table>
  <tr>
    <th>Inventory Number</th>
    <th>Title</th>
    <th>Year</th>
    <th>Type</th>
    <th>Media</th>
    <th>Category</th>
    <th>Dimensions</th>
    <th>Edition</th>
    <th>Retail Value</th>
    <th>Frame</th>
    <th>Image</th>
  </tr>

  <% @artist.works.each do |work| %>
  <tr>
    <td><%= work.inventory_number %></td>
    <td><%= work.title %></td>
    <td><%= work.full_year %></td>
    <td><%= work.art_type %></td>
    <td><%= work.media %></td>
    <td><%= work.category %></td>
    <td><%= work.getDimensions %></td>
    <td><%= work.getEdition %></td>
    <td><%= work.getRetailValue %></td>
    <td><%= work.getFrame %></td>
    <td><%= image_tag (work.getImageUrl) %></td>
  </tr>
  <% end %>
</table>