<p>
  <%= form.label :site, :id => 'site' %><br>
  <%= form.text_field :site %><br>
</p>

<p>
  <%= form.label :link, :id => 'link' %><br>
  <%= form.text_field :link %><br>
</p>

<p>
  <%= form.label :start_price %><br>
  <%= form.text_field :start_price %><br>
</p>

<p>
  <%= form.label :sale_price %><br>
  <%= form.text_field :sale_price %><br>
</p>

<p>
  <%= form.label :start_datetime %><br>
  <%= form.datetime_field :start_datetime %>
</p>

<p>
  <%= form.label :sold_datetime %><br>
  <%= form.datetime_field :sold_datetime %>
</p>

<p>
  <%= form.label :shipped %><br>
  <%= form.radio_button :shipped, 'false', :id => 'shipped_false' %> 
  <%= form.label :shipped_false, 'No', :for => 'shipped_false' %>
  <%= form.radio_button :shipped, 'true', :id => 'shipped_true' %>
  <%= form.label :shipped_true, 'Yes', :for => 'shipped_true' %>
</p>

<!-- Drop down text box to allow user to searh for the correct buyer if it exists -->
<p>
  <%= form.label 'Select Buyer' %>
  <%= form.collection_select :buyer_id, Buyer.all, :id, :name, prompt: true %>
  <%= form.label 'Or Create New Buyer' %>
  <%= link_to 'New Buyer', buyers_newlisting_url(:site => '', :link => '', :start_price => '', :sale_price => '', :start_datetime => '', :sold_datetime => '', :shipped => ''), id: 'new_buyer', :method => :post %>
</p>

