<section class='section'>
  <div class='level'>
    <div class='level-left'>
      <div class='level-item'>
        <%= image_tag(@work.getImageUrl, width: '500', alt: @work.title) %>
      </div>
      <div class='level-item'>
        <div class='card'>
          <div class='card-content'>
            <div class='content'>
              <p><strong>Artist: </strong><%= @work.getArtist %></p>
              <p><%= simple_format(@work.getDisplayInfo) %></p>
              <p><strong>Inventory No.: </strong><%= @work.inventory_number %></p>
              <p><strong>Art Type: </strong><%= @work.art_type %></p>
              <% if @current_user.admin? %>
                <p><strong>Retail Value: </strong><%= @work.getRetailValue %></p>
              <% end %>
              <p><strong>Framed: </strong><%= @work.getFrame %></p>
              <% if @current_user.admin? %>
                <p><strong>Available: </strong><%= @work.getAvailability %> </p>
                <p><strong>Location: </strong><%= @work.getLocation %> </p>
              <% end %>
            </div>
          </div>
          <footer class='card-footer'>
            <%= link_to('View Artist', @artist, class: 'card-footer-item') %>
            <%= link_to('Apply for this piece', new_work_app_path(@work), class: 'card-footer-item') %>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>