<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %><br>
</p>

<p>
  <%= form.label :artist %><br>
  <%= form.text_field :artist %><br>
</p>

<p>
  <%= form.label :print_number %><br>
  <%= form.text_field :print_number %><br>
</p>

<p>
  <%= form.label :date %><br>
  <%= form.date_field :date %><br>
</p>

<p>
  <%= form.label :purchase_price %><br>
  <%= form.text_field :purchase_price %>
</p>

<p>
  <%= form.label :picture %><br>
  <%= form.text_field :picture %>
</p>
