<h1>Pieces</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Date</th>
    <th>Print # </th>
    <th>Purchase Price </th>
    <th>Picture</th>
  </tr>
  
  <% @pieces.each do |piece| %>
  <tr>
    <td><%= piece.title %></td>
    <td><%= piece.artist %></td>
    <td><%= piece.date %></td>
    <td><%= piece.print_number %></td>
    <td>$<%= '%.2f' % piece.purchase_price %></td>
    <td><%= piece.picture %></td>
    <td><%= link_to 'View', piece_path(piece.id) %></td>
  </tr>
  <% end %>
</table>
