<section class='section'>
  <h1 class='title'>Application for <%= @work.title %> </h1>
  <div class='content'>
    <div class='tile is-ancestor'>
      <div class='tile is-parent'>
        <div class='tile is-child'>
          <%= image_tag(@work.getImageUrl, width: '500', alt: @work.title) %>
          <p class='subtitle'><%= @work.getArtist %><br/><%= simple_format(@work.getDisplayInfo) %></p>
        </div>
      </div>
      <div class='tile is-parent'>
        <div class='tile is-child'>
          <div class='level'>
            <div class='level-left is-vertical-center'>
              <div class='level-item subtitle'><strong>Application Status:</strong></div>
              <p class='level-item notification has-text-weight-bold <%= if @app.approved then 'has-background-success' else 'has-background-danger' end %>'><%= if @app.approved then 'Approved' else 'Not Approved' end %></p>
            </div>
          </div>
          <p class='subtitle'><strong>Organization: </strong><%= @app.organization %></p>
          <p class='subtitle'><strong>Comments: </strong><%= @app.comment %></p>
        </div>
      </div>
    </div>
    <% if current_user == @app.user %>
      <%= link_to 'Edit', edit_work_app_path(@work, @app), class: 'button' %>
    <% end %>
    <%= link_to 'Delete', work_app_path(@work, @app), method: :delete, class: 'button', data: {confirm: 'Are you sure you want to delete this application?'} %>
    <%= link_to 'Back to Applications', user_apps_path, class: 'button' %>
  </div>
</section>