<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>
</p>

<p>
  <%= form.label :address %><br>
  <%= form.text_area :address %><br>
</p>

<p>
  <%= form.label :shipping_cost %><br>
  <%= form.text_field :shipping_cost %><br>
</p>