<h1>Buyer</h1>
<p>
  <strong>Name:</strong>
  <%= @buyer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @buyer.address %>
</p>

<p>
  <strong>Shipping Cost:</strong>
  <%= @buyer.shipping_cost %>
</p>

<% if !@buyer.listings.nil? then %>
<p>
  <strong>Purchases:</strong>
  <% @buyer.listings.each do |listing| %>
  <%= link_to 'Sold %s' % listing.sale_datetime, piece_listing_url(listing) %><br>
  <% end %>
</p>
<% else %>
<p>
  <strong>No Purchases Yet</strong>
</p>
<% end %>

<%= link_to 'Edit Buyer', edit_buyer_url(@buyer) %>
<%= link_to 'Home', home_index_url %>
